@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(http://fonts.gstatic.com/s/ubuntu/v7/gMhvhm-nVj1086DvGgmzB1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}

