body {
  color: #2c3e50;
}

body > nav ul,
main > section > ul { list-style: none; }
li p { display: inline; }
nav ul { margin: auto; }
nav li { list-style: none; display: inline; margin: 0 10px; }
a:hover {
  text-decoration: none;
  color: inherit;
}

body > header,
body > aside {
  width: 25%;
  position: fixed;
  left: 0;
  color: #fff;
  z-index: 2;
  text-align: center;
  padding: 0 15px;
}

body > header img,
body > aside img {
  max-width: 75%;
  max-height: 150px;
}

body > header a,
body > aside a {
  color: inherit;
}

body > header {
  height: 100%;
  top: 0;
  bottom: 0;
  padding-top: 13%;
  padding-bottom: 16%;
  background-color: #2c3e50;
  z-index: 5;
}
body > aside {
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #2c3e50;
  padding-bottom: 10%;
  padding-top: 18%;
  z-index: 4;
}
body > header ~ aside {
  top: 55%;
  height: 45%;
  padding-top: 10%;
  z-index: 6;
}

body > main,
body > nav,
body > footer {
  width: 75%;
  margin-left: 25%;
  min-height: 1px;
  padding: 0 15px;
}

body > nav {
  float: right;
  margin-right: 25px;
  margin-left: 45%;
  margin-left: calc(50% - 25px);
  width: 50%;
  font-family: "Ubuntu";
  line-height: 5em;
  font-size: 1.2em;
  text-align: right;
}

body > header {
  text-align: center;
}

nav + main > header {
  position: absolute;
}

nav + main > header + *:not(header):nth-child(2) {
  padding-top: 75px;
}

body > header a {
  text-decoration: none;
  color: #fff;
}

body > header h1 {
  letter-spacing: 3px;
  text-transform: uppercase;
}

body > header aside,
body > aside {
  font-family: "Courier New", Courier, monospace;
  font-size: 11px;
}
body > header aside {
  margin: 0 auto;
  margin-bottom: 10px;
}

main > header {
  color: #e74c3c;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}
main > header a { color: inherit; }

main > section,
main > article {
  margin-bottom: 40px;
}

main > section div,
main > section ul,
main > article div {
  margin-top: 20px;
  margin-bottom: 20px;
}

main > section header aside,
main > article header aside {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
}

main > article > header ul {
  display: inline;
}
main > article > header li {
  display: inline;
  margin: 0 4px;
}
main > article > header li a {
  min-height: 1em;
  padding: 4px 10px;
  background-color: #2c3e50;
  color: white;
  border-radius: 4px;
}

main > section,
main > article {
  padding: 0 5% 0;
}

main > article {
  min-height: 500px;
  font-size: 1.25em;
}

main > section > ul li article div a, main > section > ul li article pre a { color: #2c3e50; }
article img { max-width: 100%; }

h1,h2,h3,h4,h5,h6 { font-family: 'Ubuntu', sans-serif; }
main > section > ul li article h1,
main > section > ul li article h2,
main > section > ul li article h3,
main > section > ul li article h4,
main > section > ul li article h5,
main > section > ul li article h6 {
  font-family: 'Ubuntu', sans-serif;
  color: #f2756a;
}

main > section > ul li article h1 a,
main > section > ul li article h2 a,
main > section > ul li article h3 a,
main > section > ul li article h4 a {
  color: #f2756a;
}
main > section > ul li article h1 a:hover,
main > section > ul li article h2 a:hover,
main > section > ul li article h3 a:hover,
main > section > ul li article h4 a:hover {
  color: #e74c3c;
}

body > aside img {
  border-radius: 100%;
  max-height: 77px;
}

main > footer nav a {
  text-decoration: none;
}
main > footer nav a:not(*[href]) { display: none }

footer {
  margin-top: 15px;
  font-family: 'Ubuntu';
  text-align: center;
}
