@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(https://fonts.gstatic.com/s/ubuntu/v7/gMhvhm-nVj1086DvGgmzB1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}

@import url('https://fonts.googleapis.com/css?family=Arimo');

* {
  box-sizing: border-box;
}

a {
  color: #428bca;
  text-decoration: none;
}
  a:focus,
  a:hover {
    color: #2a6496;
    text-decoration: underline;
  }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Arimo", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: grid;
  color: #2c3e50;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 10vh 50vh 30vh 1fr;
  grid-template-areas: 
    'header nav'
    'header main'
    'aside main'
    'footer main'
}

@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      'header'
      'nav'
      'main'
      'aside'
      'footer'
  }
}

body > header { grid-area: header; }
body > nav { grid-area: nav; }
body > aside { grid-area: aside; }
body > footer { grid-area: footer; }
body > main { grid-area: main; }

main {
  display: block;
}

body > nav ul,
main > section > ul, main > section > ol { list-style: none; }
li p { display: inline; }
nav li { list-style: none; display: inline; margin: 0 10px; }

body > header,
body > aside {
  color: #fff;
  text-align: center;
}

body > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
  body > header {
    flex: auto;
  }
  body > header h1 {
    font-size: 24px;
  }
  body > header img {
    width: 150px;
    border-radius: 75px;
    clip-path: circle(75px at 50% 50%);
    display: block;
    margin: auto;
  }
  body > header a:hover { text-decoration: none; }

body > aside {}
  body > aside a {
    color: inherit;
  }
  
body > header,
body > aside,
body > footer {
  background-color: #2c3e50;
  padding: 0 15px;
}

body > nav {
  font-family: "Helvetica Neue", "Arimo", Helvetica, Arial, sans-serif;
  text-align: right;
}

body > header {
  text-align: center;
}

body > header a {
  text-decoration: none;
  color: #fff;
}
  body > header a:hover,
  body > header a:focus { color: #fff; }

body > header h1 {
  letter-spacing: 3px;
  text-transform: uppercase;
}

body > header aside,
body > aside {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}
body > header aside {
  margin: 0 auto;
  margin-bottom: 10px;
}

main > header {
  margin: -40px 0 20px;
  border-bottom: 1px solid #eee;
}
  main > header h1 {
    font-size: 36px;
    margin: 20px 0 50px -10px;
    color: #e74c3c;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
  }
    main > header a { color: inherit; }
    main > header a:hover,
    main > header a:focus {
      color: inherit;
      text-decoration: none;
    }

main > section,
main > article {
  margin-bottom: 40px;
}

main > section div,
main > section ul,
main > section ol,
main > article > div {
  margin-top: 20px;
  margin-bottom: 20px;
}

main > * {
  padding: 0 5%;
}

main > article {
  font-size: 1.25em;
}

article img { max-width: 100%; }

article header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
  article header aside {
    flex: auto;
    order: 1;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 14px;
    margin-top: 20px;
  }
    article header time {
      text-transform: uppercase;
      font-family: "Helvetica Neue", "Arimo", Helvetica, Arial, sans-serif;
      font-size: 14px;
      letter-spacing: 3px;
    }
    article header ul {
      list-style: none;
      margin: 0 0 0 20px;
      padding: 0;
    }
      article header li {
        margin: 0 4px;
        display: inline;
        font-family: "Helvetica Neue", "Arimo", Helvetica, Arial, sans-serif;
      }
        article header li a {
          min-height: 1em;
          padding: 4px 10px;
          background-color: #2c3e50;
          color: white;
          border-radius: 4px;
        }
          article header li a:hover,
          article header li a:focus {
            color: white;
            text-decoration: none;
            background-color: #4e5e50;
          }
  article header > a {
    flex: auto;
    order: 0;
  }
  article header h1 {
    flex: auto;
    order: 2;
    margin: 10px 0 10px;
    font-size: 30px;
  }

main > section {}
  main > section > ul {
    margin: 0;
    padding: 0;
  }
    main > section article {
      margin-bottom: 40px;
    }
      main > section > li article > div a,
      main > section > li article pre a { color: #2c3e50; }
    main > section li article h1,
    main > section li article h2,
    main > section li article h3,
    main > section li article h4,
    main > section li article h5,
    main > section li article h6 {
      font-family: "Helvetica Neue", "Arimo", Helvetica, Arial, sans-serif;
      color: #f2756a;
    }
    
    main > section li article h1 a,
    main > section li article h2 a,
    main > section li article h3 a,
    main > section li article h4 a {
      color: #f2756a;
    }
    main > section li article h1 a:hover,
    main > section li article h2 a:hover,
    main > section li article h3 a:hover,
    main > section li article h4 a:hover {
      color: #e74c3c;
    }

main > footer nav {
  line-height: 20px;
}
  main > footer nav ul {
    display: flex;
    justify-content: space-between;
  }
    main > footer nav a {
      text-decoration: none;
      display: inline-block;
      padding: 5px 14px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 15px;
    }
      main > footer nav a:hover {
        background-color: #eee;
        text-decoration: none;
      }
      main > footer nav a:not([href]) { visibility: hidden; }

body > footer {
  font-family: "Helvetica Neue", "Arimo", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #fff;
}

@media (max-width: 700px) {
  body > nav {
    margin: 0 20px 30px 0;
  }

  body > aside {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}
