*
  box-sizing border-box

a
  transition all 500ms

  &, &:visited
    color #3282CC
  &:hover
    color lighten(#3282CC, 20)

form
  max-width: 700px;

input, button, textarea, select
  font-size 14px
  line-height 20px
  margin 10px auto

body > nav
  max-width 666px
  margin 20px auto

  ul
    text-align center

  li a:hover
    transition all 500ms
    color inherit
    background lighten(#3282CC, 44)
    padding 10px

body header h1
  font-size 4rem

main header h1
  font-size 3rem
main section, article
  header h1
    font-size 1.8rem
  h1
    font-size 1.4rem
  li > article > header h1
    font-size 1.3rem

header > aside
  text-align center

  ul
    text-align left
    list-style none
    padding 0
    margin 0
    word-break break-word

main > header
  text-align left
  margin-left 23px

main > section > ul 
  padding 0
  list-style none

  li > article
    margin-bottom 0
    border-left 23px solid lighten(rgb(163, 163, 155), 20)
    padding-left 12px

main nav li a:not([href])
  visibility hidden

body > aside
  max-width 500px
  margin auto

  @media (min-width: 1066px)
    position static

  input
    width 100%

  &,
  input, textarea
    font-size 20px

  button, input[type="submit"]
    float right

summary
  font-size 12px
