pre>code,table{-webkit-overflow-scrolling:touch;overflow-x:auto}a,ins{text-decoration:none}html{color:#111;font-family:"PT Serif",Georgia,sans-serif;font-size:16px;font-size:calc(16px + .25vw);line-height:1.5}body{margin:1em}body>article,body>footer,body>header,body>main{position:relative;display:block;max-width:666px;margin:0 auto}figure img,img,table,video{max-width:100%}body>header{margin-bottom:2.5em;text-align:center}body>footer{margin-top:4em;color:#A3A39B;font-size:.9rem;text-align:center}a,nav a:visited{color:#0064C1}h2,h3{margin-bottom:.5em;color:#25291C;font-weight:400}aside,del,legend,nav ul li{color:#7D7D77}header p{font-size:1.125rem}article,section{margin-bottom:4em}address{font-style:normal}aside{position:absolute;right:-200px;max-width:150px;padding-right:1em;font-style:italic}@media (max-width:1066px){aside{position:relative;right:auto;max-width:none;padding:0}}a{-webkit-transition:color .3s;transition:color .3s}a:visited{color:#6d00c1}a:focus,a:hover{color:#3000c1;-webkit-transition:color 0s;transition:color 0s}nav{margin:2em 0}nav ul{padding:0;margin:0;list-style:none}nav ul li{display:inline-block;margin:0 5px}nav a:focus,nav a:hover{color:#3000c1}h1{margin-top:.5em;margin-bottom:0;color:#070600;font-size:4rem;font-weight:400;line-height:1.2}h2{margin-top:.8em;font-size:2.1rem}h3{margin-top:1.2em;font-size:1.4rem}details summary,dl dt{font-weight:700}h4{margin:0 0 .5em;color:#63635e;font-size:1rem}form{max-width:400px;padding:12px 10px;margin:0 auto}fieldset,table th{border:1px solid #cfcfcf}fieldset>p{margin-top:0}fieldset p+p{margin-bottom:.75em}button,select{margin-bottom:0;background:#E8E8E8;color:#25291C;cursor:pointer;box-sizing:border-box;padding:.3em .5em;outline:0;font-size:1em;font-family:inherit;width:auto}button{border:1px solid #b5b5b5;-webkit-transition:border .2s;transition:border .2s;display:inline-block;border-radius:2px}button:focus,button:hover,input[type=button]:focus,input[type=button]:hover,input[type=color]:focus,input[type=color]:hover,input[type=file]:focus,input[type=file]:hover,input[type=reset]:focus,input[type=reset]:hover,input[type=submit]:focus,input[type=submit]:hover,select:focus,select:hover{border:1px solid #696969;background:#c2c2c2;color:#070600}select{border:1px solid #b5b5b5;-webkit-transition:border .2s;transition:border .2s;border-radius:2px;display:block}input[type=email],input[type=month],input[type=number],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],input[type^=date]{box-sizing:border-box;padding:.3em .5em;border:1px solid #b5b5b5;outline:0;font-size:1em;font-family:inherit;-webkit-transition:border .2s;transition:border .2s;width:100%;border-radius:0;display:block}input[type=button],input[type=color],input[type=file],input[type=reset],input[type=submit]{border:1px solid #b5b5b5;-webkit-transition:border .2s;margin-bottom:0;background:#E8E8E8;color:#25291C;padding:.3em .5em;font-size:1em;font-family:inherit;box-sizing:border-box;outline:0;cursor:pointer}input[type=email]:focus,input[type=month]:focus,input[type=number]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=time]:focus,input[type=url]:focus,input[type=week]:focus,input[type^=date]:focus,textarea:focus{border:1px solid #696969}input[type=button],input[type=reset],input[type=submit]{transition:border .2s;display:inline-block;width:auto;border-radius:2px;-webkit-appearance:none}input[type=color],input[type=file]{transition:border .2s;border-radius:2px;display:block}input[type=color]{width:4em;height:2em}input[type=file]{width:100%}textarea{box-sizing:border-box;padding:.3em .5em;border:1px solid #b5b5b5;outline:0;font-size:1em;font-family:inherit;-webkit-transition:border .2s;transition:border .2s;display:block;width:100%;border-radius:0}code,pre{border:1px solid #E8E8E8;font-size:.9em;font-family:Consolas,Courier,monospace}pre{background:#f2f2f2;border-radius:1px;margin:0}pre>code{display:block;padding:10px 15px;background:0 0;border:none}figure,kbd,table{display:inline-block}table td:first-child,table td:last-child{background-size:20px 100%;background-repeat:no-repeat}code{background:#f2f2f2;border-radius:1px;padding:.06250em .3125em}details,figure,p img{border:1px solid #E8E8E8}img{display:block;margin:0 auto}p{margin:.5em 0}p img{float:right;margin:.3em 0 .3em .5em}figure{box-sizing:border-box;padding:6px 22px;margin:.5em 0;border-radius:1px}figure img{margin:10px 0 15px}figure img+figcaption{margin-top:0;margin-bottom:10px}figure figcaption{margin-top:10px;font-style:italic;text-align:center}figure figcaption+img{margin:15px 0 10px}audio,video{width:100%;margin:10px 0 15px}dl{margin:1em 0 1.5em}dl dd{margin-bottom:1em}details{display:block;padding:0 .5em;margin:20px 0;border-radius:1px;background-color:#fafafa}details summary{display:block;padding:0 .5em .1em;margin:0 -.5em;background-color:#fff;outline:0;cursor:pointer}table{width:100%;vertical-align:top;background:-webkit-radial-gradient(left,ellipse,rgba(0,0,0,.2) 0,transparent 75%) 0 center,-webkit-radial-gradient(right,ellipse,rgba(0,0,0,.2) 0,transparent 75%) 100% center;background:radial-gradient(left,ellipse,rgba(0,0,0,.2) 0,transparent 75%) 0 center,radial-gradient(right,ellipse,rgba(0,0,0,.2) 0,transparent 75%) 100% center;background-size:10px 100%,10px 100%;background-attachment:scroll,scroll;background-repeat:no-repeat;border-spacing:0;border-collapse:collapse;text-align:left}table caption{padding:.5em 0;background:#fff;font-style:italic}table thead{background:#E8E8E8}table td,table th{padding:.3em .7em;border:1px solid #E8E8E8;vertical-align:top}table td:first-child{background-image:-webkit-linear-gradient(left,#fff 50%,rgba(255,255,255,0) 100%);background-image:linear-gradient(to right,#fff 50%,rgba(255,255,255,0) 100%)}table td:last-child{background-image:-webkit-linear-gradient(right,#fff 50%,rgba(255,255,255,0) 100%);background-image:linear-gradient(to left,#fff 50%,rgba(255,255,255,0) 100%);background-position:100% 0}abbr{margin-right:-.15em;font-size:.875rem;letter-spacing:.15em}dfn{letter-spacing:.05em}ins{background:#ededec}mark{background:#ffeab9}hr{margin:25px 0;border:1px solid rgba(232,232,232,.7);border-bottom:none}var{font-family:monospace;font-style:normal}noscript{color:#d00000}kbd{padding:0 .6ex;margin:0 .4ex;background:#f9f9f8;border-radius:5px;box-shadow:0 1px #E8E8E8}output{display:block}* {
  box-sizing: border-box;
}
a {
  transition: all 500ms;
}
a,
a:visited {
  color: #3282cc;
}
a:hover {
  color: #83b4e1;
}
form {
  max-width: 700px;
}
input,
button,
textarea,
select {
  font-size: 14px;
  line-height: 20px;
  margin: 10px auto;
}
body > nav {
  max-width: 666px;
  margin: 20px auto;
}
body > nav ul {
  text-align: center;
}
body > nav li a:hover {
  transition: all 500ms;
  color: inherit;
  background: #e6f0f9;
  padding: 10px;
}
body header h1 {
  font-size: 4rem;
}
main header h1 {
  font-size: 3rem;
}
main section header h1,
article header h1 {
  font-size: 1.8rem;
}
main section h1,
article h1 {
  font-size: 1.4rem;
}
main section li > article > header h1,
article li > article > header h1 {
  font-size: 1.3rem;
}
header > aside {
  text-align: center;
}
header > aside ul {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
  word-break: break-word;
}
main > header {
  text-align: left;
  margin-left: 23px;
}
main > section > ul {
  padding: 0;
  list-style: none;
}
main > section > ul li > article {
  margin-bottom: 0;
  border-left: 23px solid #d4d4d0;
  padding-left: 12px;
}
main nav li a:not([href]) {
  visibility: hidden;
}
body > aside {
  max-width: 500px;
  margin: auto;
}
@media (min-width: 1066px) {
  body > aside {
    position: static;
  }
}
body > aside input {
  width: 100%;
}
body > aside,
body > aside input,
body > aside textarea {
  font-size: 20px;
}
body > aside button,
body > aside input[type="submit"] {
  float: right;
}
summary {
  font-size: 12px;
}

