@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Montserrat')

*
  box-sizing border-box

html, body
  margin 0
  padding 0

body
  display grid
  grid-template-columns auto
  grid-template-rows auto
  grid-template-areas 'header' 'main' 'aside' 'footer'

body > header
  grid-area header
body > aside
  grid-area aside
body > footer
  grid-area footer
body > main
  grid-area main

a
  color inherit
  text-decoration none

  &:hover
    color white

img
  max-width 100%

body > header
  display grid
  grid-template-columns auto 30px 1fr 800px
  grid-template-rows auto auto
  grid-template-areas 'h1 img . .' 'aside aside aside aside'
  background #353e42
  font-family 'Yanone Kaffeesatz', sans-serif
  color #bdd2d6
  text-shadow 2px 2px 0 rgba(0,0,0,0.2)
  padding 0 calc((100vw - 960px) / 2)
  width 100vw

  @media (max-width 960px)
    grid-template-columns auto
    grid-template-areas '.' 'aside'
    padding 30px 0 0

  & > a, & > img, & > h1
    padding 15px 0 5px
    margin: 0 10px
    z-index 3

  h1
    grid-area h1
    text-align left
    font-size 2em
    letter-spacing 2px

    @media (max-width: 960px)
      display none

  & > a, & > img
    grid-area img
    display inline
    text-align left

    @media (max-width: 1040px)
      display none

  & > a > img
    height 2em

  & > img
    height 3em

  img
    max-width auto !important
    width auto !important

  aside
    grid-area aside
    text-align center
    padding 60px 0 35px
    font-size 3em

body > nav
  position absolute
  top 0
  right 0
  left 0
  background #2f373b
  min-height 39px
  font-family 'Montserrat', sans-serif
  font-size 0.8em
  color #bdd2d6
  z-index 1
  display flex
  justify-content flex-end
  align-content center
  padding 2em 0

  ul
    width 960px
    list-style none
    margin 0 auto
    padding 0
    display flex
    justify-content flex-end

    li
      padding 0 10px
      margin 0

body > main
  display block
  font-family 'Montserrat', sans-serif
  background #ddf2f7
  padding 50px calc((100vw - 960px) / 2)
  width 100vw

  @media (max-width 960px)
    padding 50px 10px

  img
    border 10px solid #d3e9ee
    border-radius 7px

  blockquote
    border-left 10px solid #d3e9ee
    padding-left 20px
    border-radius 7px
    margin-left 0
    font-size 0.9em

  article
    color #848f92

    & > header
      font-family 'Yanone Kaffeesatz', sans-serif
      letter-spacing 1px

      aside
        display flex
        justify-content space-between
        margin 10px 0

        ul
          display inline
          margin 0
          padding 0
          list-style none
          display flex

          li > a
            padding 2px 4px
            border-radius 2px

    & > header h1
      font-weight normal
      font-size 36px
      margin 0 0 10px
      border-bottom 

    & > header h1, a
      color #69b882

    a:hover
      color #4b8360
    
    & > div
      color #333

  & > header
    text-transform uppercase
    font-family 'Montserrat', sans-serif
    padding 9px 20px 109px

    h1
      font-weight normal
      padding 47px 0 0
      font-size 15px
      letter-spacing 0.2em

    a:hover
      color inherit

  & > section
    & > ul
      column-count 2
      margin 0
      padding 0
      list-style none
      column-gap 10vw

      @media (min-width 1900px)
        column-gap 190px

      & > li
        display inline-block

        &:not(:last-child)::after
          content ' '
          display block
          float right
          width 25px
          margin 15px 15px 15px 0
          border-bottom 1px solid #848f92
          align-self flex-end

      article
        & > header
          display flex
          flex-direction column

          & > h1
            order 1
          & > img, & > a
            order 2
          & > aside
            order 3

  & > article
    background transparent

  & > footer
    margin-top 20px

    nav
      ul
        list-style none
        margin 0
        padding 0
        display flex
        justify-content space-evenly
        font-family 'Yanone Kaffeesatz', sans-serif
        font-size 36px

        a:not([rel])
          visibility hidden

        a
          color #4b8360

        a:hover
          color #69b882

body > aside
  display block
  color #848f92
  font-family 'Montserrat', sans-serif
  background #bdd2d6
  font-size 2em
  padding 50px calc((100vw - 960px) / 2)
  width 100vw

  @media (max-width 960px)
    padding 50px 10px

body > footer
  display block
  background #353e42
  font-family 'Montserrat', sans-serif
  color #9ca2a5
  text-align center
  padding 50px calc((100vw - 960px) / 2)
  width 100vw

  @media (max-width 960px)
    padding 50px 10px
