/* fonts */
/* cyrillic-ext */
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'), url(http://fonts.gstatic.com/s/ptmono/v4/rFGHhFPYIVvC08PGjJIN1_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'), url(http://fonts.gstatic.com/s/ptmono/v4/CaVdAWGUSxTocbxGJLiki_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'), url(http://fonts.gstatic.com/s/ptmono/v4/eEAdzx7eU---nbdfQm1E0fY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'), url(http://fonts.gstatic.com/s/ptmono/v4/h6kfiL-5Ady2K9sB3hOqcw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/JX7MlXqjSJNjQvI4heMMGvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/vtwNVMP8y9C17vLvIBNZI_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/9kaD4V2pNPMMeUVBHayd7vY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/ATKpv8nLYAKUYexo8iqqrg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(http://fonts.gstatic.com/s/ptserif/v8/5hX15RUpPERmeybVlLQEWBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(http://fonts.gstatic.com/s/ptserif/v8/fU0HAfLiPHGlZhZpY6M7dBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(http://fonts.gstatic.com/s/ptserif/v8/CPRt--GVMETgA6YEaoGitxTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(http://fonts.gstatic.com/s/ptserif/v8/I-OtoJZa3TeyH6D9oli3ifesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #4d4d4d;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
}
a {
  color: #000000;
  text-decoration: none;
}
hr {
  color: #eeeeee;
  background-color: #eeeeee;
  height: 1px;
  border: none;
}
img {
  max-width: 100%;
}
body > header {
  /* body > aside is moved here. */
}
body > header > h1 {
  padding: 40px 40px 0 40px;
  text-align: center;
}
body > header aside {
  padding: 40px;
  text-align: center;
}
body > header aside:first-of-type {
  padding-top: 0;
}
body > header h1 {
  margin: 15px 0 5px 0;
}
body > header p {
  margin: 0 0 15px 0;
  font-size: 14px;
}
body > header ul {
  margin: 40px 0 0 0;
  padding-left: 0;
  font-size: 16px;
  list-style-type: none;
}
body > header ul li {
  display: inline;
  line-height: 3em;
}
body > header ul li a {
  padding: 5px 15px 5px 15px;
  border: 3px solid #eeeeee;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  color: #999999;
}
main {
  /* body > nav is moved here */
  /* pagination */
  /* body > footer is moved here */
}
main > nav {
  padding: 40px;
  border-top: #eeeeee 1px solid;
  border-bottom: #eeeeee 1px solid;
}
main > nav li {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline;
}
main > nav li:not(*:first-child)::before {
  content: ' ¦ ';
}
main > nav p {
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
}
main > header {
  text-align: center;
}
main article,
main section {
  max-width: 640px;
  padding: 40px;
}
main section ul,
main section ol {
  padding: 0;
  list-style: none;
}
main section li article {
  padding: 40px 0;
}
main article > header:hover time {
  color: #999999;
}
main article > header:hover h1 {
  color: #0e94ec;
}
main article > header:hover ul {
  color: inherit;
  background: inherit;
}
main article > header h1 {
  position: relative;
  top: 27px;
  color: #000000;
}
main article > header h1 a {
  color: inherit;
}
main article > header aside {
  position: relative;
  top: -47px;
  text-align: left;
}
main article > header aside > * {
  display: inline;
}
main article > header aside,
main article > header time,
main article > header p {
  font-size: 12px;
  color: #999999;
}
main article > header time {
  color: #efefef;
  transition: 500ms all;
  -moz-transition: 500ms all;
  -webkit-transition: 500ms all;
}
main article > header ul {
  /* tags */
  color: #efefef;
  background: none;
  transition: 500ms all;
  -moz-transition: 500ms all;
  -webkit-transition: 500ms all;
}
main article > header ul li {
  display: inline;
}
main article > header ul li a {
  color: inherit;
  padding: 5px 15px;
  transition: 800ms background;
  -moz-transition: 800ms background;
  -webkit-transition: 800ms background;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
main article > header ul li a:hover {
  background: #eeeeee;
}
main article > *:not(header) {
  line-height: 1.375em;
}
main article > *:not(header) a {
  text-decoration: underline;
}
main article > *:not(header) code {
  margin: 2px;
  padding: 0;
  color: #000000;
  font-size: 14px;
  font-family: 'PT Mono', monospace;
  background: #eeeeee;
}
main article > *:not(header) pre {
  margin: 22px 2px 22px 2px;
  padding: 2px;
  color: #000000;
  border-left: 3px solid #0e94ec;
  font-size: 14px;
  font-family: 'PT Mono', monospace;
  background: #eeeeee;
  line-height: 1.125em;
  overflow-x: auto;
}
main article > *:not(header) blockquote {
  margin: 22px 2px 22px 2px;
  padding-left: 40px;
  color: #999999;
  font-style: italic;
}
main footer:not(*:last-child) {
  border-top: #eeeeee 1px solid;
  padding: 40px;
  text-align: center;
}
main footer:not(*:last-child) li {
  display: inline;
}
main footer:not(*:last-child) a[rel="next"]::before {
  content: 'older posts';
}
main footer:not(*:last-child) a[rel="prev"]::before {
  content: 'newer posts';
}
main footer:not(*:last-child) a:not(*[href]) {
  display: none;
}
main footer:not(*:last-child) a[rel] {
  padding: 10px 20px;
  border: 2px solid #0e94ec;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  text-transform: uppercase;
  color: #0e94ec;
  font-size: 18px;
}
main footer:not(*:last-child) a[rel]:hover {
  color: #ffffff;
  background-color: #0e94ec;
}
main footer:not(*:last-child) a[rel]:active {
  color: #ffffff;
  background-color: #0e94ec;
}
main footer:last-child {
  border-top: #eeeeee 1px solid;
  padding: 0 40px 0 40px;
  color: #999999;
  font-size: 10px;
}
/* these are hidden in their original
places, but the three will be moved by JS
and will appear again. */
body > aside {
  display: none;
}
body > nav {
  display: none;
}
body > footer {
  display: none;
}
@media screen and (min-width: 1024px) {
  body > header {
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-right: #eeeeee 1px solid;
    /* body > aside is moved here. */
  }
  body > header h1 {
    margin: 10px 0 0 0;
  }
  body > header aside,
  body > header h1 {
    display: block;
    max-width: 192px;
  }
  body > header ul li {
    display: block;
  }
  main {
    width: 75%;
    position: absolute;
    top: 0;
    left: 25%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  main article {
    max-width: 640px;
  }
  main > nav {
    border-top: 0;
  }
}
