@font-face {
  font-family: 'Cookie';
  font-style: normal;
  font-weight: 400;
  src: local('Cookie-Regular'), url(http://fonts.gstatic.com/s/cookie/v7/pKcurCxn_Ato3MXK6jF2CA.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(http://fonts.gstatic.com/s/notosans/v6/LeFlHvsZjXu2c3ZRgBq9nKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: 0 0;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  color: #333;
  font-size: 1.1em;
  line-height: 1.5em;
}
:focus {
  outline: 0;
}
h1 {
  line-height: 1.5em;
}
a,
a:active,
a:hover,
a:visited {
  color: #0074d9;
  text-decoration: none;
}
li {
  margin: 0 0 5px;
}
pre {
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.05);
  padding: 0.3em;
}
code {
  background: #EEE;
  padding: 3px 5px;
  font-size: 0.8em;
}
blockquote {
  padding: 0 0 0 1em;
  margin: 0 0 0 .1em;
  box-shadow: inset 5px 0 rgba(0, 0, 0, 0.2);
}
i[class*=" icon-"]:before,
i[class^=icon-]:before {
  margin: 0;
}
input {
  line-height: 1.5em;
  margin: .2em;
  padding: .2em .5em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0.1em 0.1em 0.2em -0.1em rgba(0, 0, 0, 0.3);
  border-radius: 0.2em;
}
input:focus {
  border-color: #7fdbff;
  box-shadow: 0 0 0.2em -0.1em rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
input:focus:valid {
  border-color: #2ecc40;
  box-shadow: 0 0 0.2em -0.1em #2ecc40;
  transition: all 0.3s ease;
}
input:invalid {
  border-color: #ff4136;
  box-shadow: 0 0 0.2em -0.1em #ff4136;
  transition: all 0.3s ease;
}
input:focus:invalid {
  border-color: #ff851b;
  box-shadow: 0 0 0.2em -0.1em #ff851b;
  transition: all 0.3s ease;
}
.select {
  display: inline-block;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: .2em;
  overflow: hidden;
}
.select:after {
  padding: .2em 0 .2em 1.3em;
  background: #FFF;
  content: "▼";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 2.3em;
  height: 100%;
  pointer-events: none;
  font-size: .8em;
  line-height: 1.8em;
}
select {
  padding: 0 2em 0 .3em;
  background: 0 0;
  min-width: 14em;
  -webkit-padding-before: .23em;
  -webkit-padding-after: .17em;
  border: 1px solid #CCC;
  margin: -2px;
  cursor: pointer;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #333333;
}
select option {
  padding: 0.2em 0.5em;
}
.checkbox {
  position: relative;
  display: inline-block;
  min-width: 1em;
  min-height: 1.25em;
  line-height: 1em;
  margin: 0.2em 0 -0.2em;
  outline: 0;
  vertical-align: middle;
  cursor: pointer;
}
.checkbox input + * {
  vertical-align: super;
}
.checkbox input + :before {
  position: absolute;
  border-radius: .2em;
  min-width: .8em;
  top: .1em;
  line-height: .8em;
  width: .8em;
  height: .8em;
  left: 0;
  content: "✔";
  text-align: center;
  background: #FFF;
  color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.checkbox input {
  opacity: 0;
}
.checkbox input:checked + :before {
  color: #555555;
}
.radio {
  position: relative;
  display: inline-block;
  min-width: 1em;
  min-height: 1.25em;
  line-height: 1em;
  margin: 0.2em 0 -0.2em;
  outline: 0;
  vertical-align: middle;
  cursor: pointer;
}
.radio input + * {
  vertical-align: super;
}
.radio input + :after,
.radio input + :before {
  content: "";
  position: absolute;
  border-radius: 100em;
  margin: 0.1em 0;
}
.radio input + :before {
  min-width: .8em;
  top: 0;
  line-height: .8;
  width: .8em;
  height: .8em;
  left: 0;
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.radio input + :after {
  border: none;
  top: .2em;
  left: .2em;
  width: .4em;
  height: .4em;
  background: #555;
  opacity: 0;
}
.radio input {
  opacity: 0;
}
.radio input:checked + :after {
  opacity: 1;
}
a.button,
button,
input[type=submit],
label.button span {
  border: none;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  display: inline-block;
  font-size: 1em;
  height: 1.2em;
  line-height: 1.2em;
  text-decoration: none;
  vertical-align: middle;
  padding: .3em 1em .5em;
  background: #AAA;
  color: #FFF;
  margin: 0 0 .2em;
  box-shadow: inset 0 -0.2em rgba(0, 0, 0, 0.3);
  border-radius: .2em;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.1s ease 0.1s;
}
.button input {
  display: none;
}
.button:hover,
button:hover,
input[type=submit]:hover,
label.button:hover span {
  margin: .1em 0 .2em;
  padding: .3em 1em .4em;
  transition: all .1s ease;
  box-shadow: inset 0 -0.1em rgba(0, 0, 0, 0.3);
}
a.button:active,
button:active,
input[type=submit]:active,
label.button input:checked + span,
label.button span:active {
  margin: .2em 0;
  padding: .3em 1em;
  box-shadow: inset 0 0.1em 0.1em rgba(0, 0, 0, 0.3);
}
a.button.primary,
button.primary,
input[type=submit].primary,
label.button.primary span {
  background: #0074d9;
}
a.button.success,
button.success,
input[type=submit].success,
label.button.success span {
  background: #2ecc40;
}
a.button.warning,
button.warning,
input[type=submit].warning,
label.button.warning span {
  background: #ff851b;
}
a.button.error,
button.error,
input[type=submit].error,
label.button.error span {
  background: #ff4136;
}
table {
  text-align: left;
}
td,
th {
  padding: 0.4em 2.4em 0.4em 0.6em;
}
th {
  font-weight: 900;
  color: #fff;
  background: #bbbbbb;
}
.primary th {
  background-color: #0074d9;
}
.success th {
  background-color: #2ecc40;
}
.warning th {
  background-color: #ff851b;
}
.error th {
  background-color: #ff4136;
}
tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}
.row {
  position: relative;
  display: block;
  overflow: auto;
}
[class*=fifth],
[class*=fourth],
[class*=full],
[class*=half],
[class*=sixth],
[class*=third] {
  box-sizing: border-box;
  float: left;
  padding-left: 0;
  padding-right: 0;
  min-height: 1px;
}
.none {
  display: none;
}
.full {
  width: 100%;
}
.half {
  width: 50%;
}
.third {
  width: 33.333%;
}
.two-third {
  width: 66.666%;
}
.fourth {
  width: 25%;
}
.three-fourth {
  width: 75%;
}
.fifth {
  width: 20%;
}
.two-fifth {
  width: 40%;
}
.three-fifth {
  width: 60%;
}
.four-fifth {
  width: 80%;
}
.sixth {
  width: 16.666%;
}
@media all and (min-width: 750px) {
  .m-none {
    display: none;
  }
  .m-full {
    width: 100%;
  }
  .m-half {
    width: 50%;
  }
  .m-third {
    width: 33.333%;
  }
  .m-two-third {
    width: 66.666%;
  }
  .m-fourth {
    width: 25%;
  }
  .m-three-fourth {
    width: 75%;
  }
  .m-fifth {
    width: 20%;
  }
  .m-two-fifth {
    width: 40%;
  }
  .m-three-fifth {
    width: 60%;
  }
  .m-four-fifth {
    width: 80%;
  }
  .m-sixth {
    width: 16.666%;
  }
}
@media all and (min-width: 1200px) {
  .l-none {
    display: none;
  }
  .l-full {
    width: 100%;
  }
  .l-half {
    width: 50%;
  }
  .l-third {
    width: 33.333%;
  }
  .l-two-third {
    width: 66.666%;
  }
  .l-fourth {
    width: 25%;
  }
  .l-three-fourth {
    width: 75%;
  }
  .l-fifth {
    width: 20%;
  }
  .l-two-fifth {
    width: 40%;
  }
  .l-three-fifth {
    width: 60%;
  }
  .l-four-fifth {
    width: 80%;
  }
  .l-sixth {
    width: 16.666%;
  }
}
nav {
  width: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  background: #FFF;
  box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.3);
  z-index: 10;
  transition: all 0.3s ease;
}
nav.transparent {
  box-shadow: none;
  background: 0 0;
}
nav.transparent a,
nav.transparent a:visited {
  color: #ffffff;
}
nav a,
nav a:visited {
  color: #333;
  display: inline-block;
  font-size: 1em;
  height: 2em;
  line-height: 2em;
  padding: 0.5em 0.6em;
}
nav a:hover {
  color: #333;
  box-shadow: inset 0 -0.2em 0 #7fdbff;
}
nav a.button,
nav a.button:hover {
  color: #FFF;
  line-height: 1.4em;
}
nav .main,
nav .menu {
  margin: 0 0.5em;
}
nav .main {
  font-weight: 700;
  float: left;
  max-width: 50%;
  white-space: nowrap;
}
nav .main img {
  height: 2em;
}
nav .menu {
  float: right;
}
.burgercheck,
.burgermenu {
  display: none;
  cursor: pointer;
}
.burgermenu {
  position: relative;
  height: .8em;
  width: .4em;
  margin: .35em;
  display: none;
}
.burgermenu:after,
.burgermenu:before {
  display: none;
  content: " ";
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  border-style: solid;
  border-color: #333;
  border-width: 0.14em 0;
}
.burgermenu:after {
  top: 50%;
  margin-top: -0.07em;
}
@media all and (max-width: 960px) {
  [class*=" icon-"]:before,
  [class*=icon-]:before {
    display: none;
  }
}
@media all and (max-width: 750px) {
  [class*=icon-]:before {
    display: inline-block;
  }
  .burgercheck ~ label:after,
  .burgercheck ~ label:before {
    display: block;
  }
  .burgercheck ~ label {
    position: fixed;
    top: 0;
    right: 0;
    display: inline-block;
    font-size: 2em;
    line-height: 1.5em;
    padding-right: .5em;
    text-align: right;
    transition: all .3s ease;
    transition: display 0s ease 0.3s;
  }
  .burgercheck:checked ~ label:after,
  .burgercheck:checked ~ label:before {
    display: none;
  }
  .burgercheck:checked ~ label {
    margin: 0;
    right: 70%;
    width: 30%;
    height: 100%;
    transition: all .3s ease;
    background: rgba(255, 255, 255, 0.7);
  }
  nav .menu {
    position: fixed;
    width: 70%;
    height: 100%;
    right: -70%;
    top: 0;
    margin-right: 0;
    background: #FFF;
    box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.3);
    overflow: auto;
    transition: all 0.3s ease;
  }
  .burgercheck:checked ~ .menu {
    right: 0;
    transition: all 0.3s ease;
  }
  nav .menu a {
    display: block;
    text-align: left;
  }
  nav .menu .button {
    margin: .5em;
    float: left;
    clear: left;
  }
  nav .menu .button:hover {
    margin: 0.6em 0.5em 0.5em;
  }
  nav .menu .button:active {
    margin: 0.7em 0.5em 0.5em;
  }
  .transparent .menu {
    color: #333333;
  }
}
nav {
  position: static !important;
}
ul {
  list-style: none;
}
li > p {
  display: inline;
}
h1 {
  margin: 0.3em;
}
a,
a:visited {
  color: inherit;
  font-family: inherit;
}
* {
  box-sizing: border-box;
  font-family: 'Noto Sans', 'Ubuntu';
}
html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #dd7e7e;
  color: white;
}
.paper {
  background-color: white;
  border: none;
  border-radius: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 60px;
}
body > header {
  width: 30%;
  position: absolute;
  top: 0;
  left: 2em;
  color: #3d6d96;
  font-weight: inherit;
  font-family: inherit;
}
body > header > *:not(h1) {
  display: none;
}
body > header h1 {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body > nav {
  overflow: auto;
  color: #333;
}
@media screen and (max-width: 1200px) {
  body > nav {
    position: absolute;
  }
}
body > nav ul {
  list-style: none;
  width: 78%;
  float: right;
  text-align: center;
}
body > nav ul li {
  display: inline;
}
body > aside {
  background: #3d6d96;
  color: white;
  padding: 2%;
  line-height: 1.1em;
  text-align: center;
}
body > aside > * {
  display: block;
  margin: auto;
  margin: 0;
  font-size: 0.8em;
  overflow: hidden;
}
body > aside img {
  margin: auto;
  display: block;
  height: 100px;
}
body > aside a {
  color: #f5deb3;
}
img {
  border: 2px solid white;
  margin: 2px;
}
body > footer {
  background: #3d6d96;
  color: white;
  text-align: center;
  width: 100%;
  padding: 12px 23px;
}
@media all and (max-width: 768px) {
  body > footer > form,
  body > footer > div {
    width: 100%;
  }
}
main {
  min-height: 500px;
}
main > header:first-child {
  display: none;
}
main > section > ul {
  padding-bottom: 40px;
  height: auto;
  width: 100%;
  overflow: auto;
}
main > section > ul li {
  width: 300px;
  margin: 8px;
  float: left;
}
main > section > ul li article {
  background-color: white;
  border: none;
  border-radius: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 60px;
  float: left;
  margin: 10px;
  padding: 13px;
  width: 100%;
  max-height: 340px;
  overflow: hidden;
  color: #333;
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s;
}
main > section > ul li article a {
  color: #60a794;
}
main > section > ul li article header {
  overflow: hidden;
  max-height: 150px;
}
main > section > ul li article header img {
  float: left;
  width: 40%;
  display: block;
  margin-top: 2%;
  margin-left: 2%;
}
main > section > ul li article header h1 {
  color: #CFB96D;
  display: block;
  line-height: 40px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 14px;
  margin-bottom: 0;
  padding: 0;
  font-size: 2.9em;
  overflow: hidden;
  font-family: Cookie, sans-serif;
  float: left;
}
main > section > ul li article header img + h1 {
  color: #775D4A !important;
  float: none !important;
}
main > section > ul li article header aside,
main > section > ul li article header time,
main > section > ul li article header p {
  display: block;
  clear: both;
}
main > section > ul li article header aside a,
main > section > ul li article header time a,
main > section > ul li article header p a {
  color: #3d6d96;
}
main > section > ul li article header img + * + aside {
  width: 96%;
}
main > section > ul li article > *:not(header),
main > section > ul li article > *:not(footer) {
  float: left;
  line-height: 1.5em;
  max-height: 128px;
  width: 100%;
  margin: 2px 2%;
  font-size: 0.8em;
  overflow: hidden;
}
main > section > ul li article > *:not(header) ul,
main > section > ul li article > *:not(footer) ul {
  padding: 0px;
  list-style-position: inside;
}
main > section > ul li article > *:not(header) ul li,
main > section > ul li article > *:not(footer) ul li {
  list-style-position: inside;
  margin: 0;
}
main > section > ul li article:hover {
  max-height: 480px;
  overflow: auto;
  height: auto;
}
main > section > ul li article:hover p {
  word-break: break-all;
}
main footer nav {
  margin-top: 50px;
  text-align: center;
}
main footer nav li {
  display: inline;
}
main footer nav a {
  font-size: 150%;
  font-weight: bold;
  padding: 7px 35px;
}
main footer nav a:not(*[href]) {
  display: none;
}
main > article,
main > section {
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 0;
  border: 0;
  color: white;
}
main > article a,
main > section a {
  color: wheat;
}
main > article header,
main > section header {
  height: auto;
  overflow: auto;
  border: none;
  margin: 0;
  padding: 7px 0;
}
main > article header > aside,
main > section header > aside {
  padding: 0 7px;
}
@media all and (min-width: 1200px) {
  main > article header > aside,
  main > section header > aside {
    max-height: 200px;
    overflow: hidden;
  }
  main > article header > aside:hover,
  main > section header > aside:hover {
    overflow: auto;
  }
}
main > article header img,
main > section header img {
  width: 100%;
  display: block;
  margin: auto;
}
main > article header h1,
main > section header h1 {
  font-size: 2.7em;
  font-family: "Cookie", sans-serif !important;
  margin: 0;
  padding: 0;
}
main > article header h1.replace-foto,
main > section header h1.replace-foto {
  width: 98%;
  margin-top: 10%;
  text-align: center;
}
main > article header ul,
main > section header ul {
  display: inline;
  font-size: 0.8em;
  padding: 0;
}
main > article header ul li,
main > section header ul li {
  display: inline;
  margin: 0 2px;
}
main > article header ul a,
main > section header ul a {
  min-height: 1em;
  padding: 4px 7px;
  background-color: #60a794;
  color: white;
}
main > article header aside,
main > section header aside {
  width: 100%;
}
main > article:not(header),
main > section:not(header),
main > article:not(footer),
main > section:not(footer) {
  font-size: 0.9em;
  line-height: 1.3em;
}
main > article:not(header) p:first-child,
main > section:not(header) p:first-child,
main > article:not(footer) p:first-child,
main > section:not(footer) p:first-child {
  margin-top: 0;
}
