/* 3-column structure, header on top, footer on bottom */

body {
  width: 1100px;
  margin: auto;
}

body > nav,
body > main,
body > aside,
body > footer {
  float: left;
}

body > header,
body > footer {
  width: 100%;
}

body > nav,
body > aside {
  width: 20%; /* adjust */
}
body > main {
  width: 60%; /* adjust to 100% - 2*(previous rule) */
  margin-left: 20%; /* should be equal to the width of the previous rule */
}
body > nav + main {
  margin-left: 0;
}
/* miscellaneous */
* { box-sizing: border-box; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }

body > header {
  text-align: center;
}
main {
  padding: 10px;
}
main article p {
  text-align: justify;
}
main > article iframe {
  width: 90%;
  margin: auto;
}
main > article img {
  display: block;
  margin: auto;
}
main img {
  max-width: 100%;
}

body > aside {
  padding: 10px;
}
body > aside img {
  width: 120px;
}

/* main nav */
body > nav ul {
  list-style: none;
}
body > nav ul li {
  margin: 10px 0;
  text-align: right;
}

/* article lists */
main > section > ul {
  list-style: none;
}

/* article labels */
header aside ul {
  list-style: none;
  padding: 0;
  display: inline;
}
header aside li {
  display: inline;
}
header aside li a {
  min-height: 1em;
  margin: 0.1em;
  padding: 0.2em;
  border: dotted 1px;
}
header aside li a:hover {
  text-decoration: none;
  opacity: 0.7;
  background-color: #eee; /* adjust to correct color, or just remove */
}

/* comments */
main > section > article {
  margin: 10px 0;
  clear: both;
  border-top: 1px solid;
}

main > section > article header {
  display: block;
  height: 70px;
  margin: 20px 0;

}
main > section > article header img {
  height: 100%;
  float: left;
  margin: 0 10px 0 0;
}
main > section > article header h1 {
  margin: 0;
  float: left;
}
main > section > article header aside,
main > section > article header time,
main > section > article header p {
  width: 70%;
  display: block;
  margin: 0;
  float: left;
}
main > section > article header + * {
  clear: both;
}
main > section > article footer {
  text-align: right;
}

/* pagination */
main nav {
  text-align: center;
}
main nav ul {
  display: inline;
  list-style: none;
}
main nav li a {
  display: none;
}
main nav li a[href] {
  display: inline;
}

/* footer */
body > footer {
  text-align: center;
}
