@import url(https://fonts.googleapis.com/css?family=Raleway);

* { box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: inherit;
  transition: all 200ms linear;
}
a:hover {
  font-weight: bold;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  color: #232323;
}

body > header {
  width: 100%;
  padding: 157px 50px;
  text-align: center;
  background: #008376;
  color: white;
}
  body > header img {
    height: 100px;
  }
  body > header h1 {
    font-weight: normal;
  }
  body > header aside {
    margin: 35px 0 0 0;
  }
  body > header aside a {
    padding: 15px 70px;
    background: rgba(200, 200, 200, 0.8);
    transition: all 300ms linear;
  }
  body > header aside a:hover {
    padding: 20px 80px;
    background: rgba(200, 200, 200, 1);
  }

nav {
  text-align: center;
}
  nav ul {
    list-style: none;
    padding: 0;
  }
  nav li {
    display: inline;
  }
  nav li:before {
    content: ' ';
  }
  nav li:first-child:before {
    content: '';
  }
body > nav {
  margin: -80px 0 80px 0;
  color: white;
}

body > main {
  width: 890px;
  max-width: 100%;
  margin: auto;
  clear: both;
}
  body > main > header {
    margin: 20px 0;
  }
  body > main > header h1 {
    text-align: center;
    font-size: 1.3em;
    width: 80%;
    margin: auto;
  }

  body > main > article,
  body > main > section {
    text-align: justify;
    word-wrap: break-word;
  }
    body > main > article img,
    body > main > section img {
      max-width: 100%;
    }

  body > main > article {}
    body > main > article header {
      text-align: center;
    }
    body > main > article header aside > * {
      float: left;
      margin-left: 10px;
    }
    body > main > article header ul {
      margin: 0 0 20px 0;
    }
    body > main > article header li {
      list-style: none;
      float: left;
      margin-left: 10px;
    }
    body > main > article > div {
      clear: both;
    }
  
  body > main > section {}
  body > main section ul,
  body > main section ol {
    list-style: none;
    margin: 40px 0;
    height: auto;
    overflow: auto;
  }
  body > main section li {
    float: left;
    width: 50%;
    padding: 10px;
  }
  @media (max-width: 900px) {
    body > main section li {
      width: 100%;
      padding: 0 40px;
    }
  }
  body > main section li article header h1 {
    text-transform: uppercase;
  }

body > aside {
  width: 890px;
  margin: auto;
  clear: both;
  max-width: 100%;
  text-align: center;
}
  body > aside img {
    width: 100px;
  }

body > footer {
  background: #333;
  color: white;
  clear: both;
  padding: 20px;
  text-align: center;
}
