/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 0.5em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

p a:hover {
  color: black;
}

p a:visited {
  color: #C8B1CB;
}
body > header a:visited { color: #c75b12; }

img {
  margin: 2em 0;
}

table {
  font-size: inherit;
  font: 100%;
}

li p {
  display: inline;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

main {
  margin-bottom: 5em;
}

main > section > ul {
  list-style-type: none;
  margin-bottom: 2em;
}

  main > section > * > li {
    line-height: 1.75em;
    width: 100%;
    height: auto;
    overflow: auto;
  }

  main > section li h1 {
    font-size: 90%;
    margin: 0;
  }

    main > section li article header {
      display: flex;
      justify-content: flex-end;
    }
        main > section li article header > a {
          flex-shrink: 3;
          flex: auto;
          height: 1em;
          order: 3;
        }
        main > section li article header img {
          flex-shrink: 3;
          height: 1em;
          margin: 4px 3px -2px;
        }

        main > section li article header h1 {
          flex: auto;
          flex-shrink: 3;
          text-align: left;
          width: 80%;
          order: 4;
        }

        main > section li article header aside {
          order: 1;
          min-width: 290px;
          display: flex;
          justify-content: flex-end;
        }

        @media (max-width: 900px) {
          main > section li article header aside {
            min-width: 150px;
          }
        }

        main > section li article header aside ul {
          flex: auto;
          order: 1;
          flex-shrink: 3;
          font-size: 10px;
          overflow: hidden;
          white-space: nowrap;
          max-width: 150px;
          text-overflow: ellipsis;
          margin-right: 12px;
        }
          main > section li article header aside li {
            display: inline;
            margin: 0 4px;
          }
            main > section li article header aside li a {
              padding: 2px 6px;
            }

        @media (max-width: 900px) {
          main > section li aside ul { display: none; }
        }

        main > section li article header aside time {
          order: 2;
          text-align: right;
          margin-right: 1%;
          color: #aaa;
          font-family: Monaco, "Courier New", monospace;
          font-size: 80%;
          display: inline;
        }

        main > section li article header time:after {
          content: ' » ';
          margin-right: 8px;
        }

      main > section li article {
        width: 100%;
        height: auto;
        overflow: auto;
      }

        main > section li article div {
          display: none;
        }

/*****************************************************************************/
/*
/* Pagination
/*
/*****************************************************************************/

main > footer nav ul {
  list-style: none;
  text-align: center;
  margin-bottom: 20px;
}
  main > footer nav li {
    display: inline;
  }
    main > footer nav li a:not(*[href]) {
      display: none;
    }
    main > footer nav li a {
      visibility: hidden;
    }
    main > footer nav li:nth-child(2) a:after {
      content: 'next';
      visibility: visible;
    }
    main > footer nav li:first-child a:after {
      content: 'prev';
      visibility: visible;
    }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

body {
  font-size: 110%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  grid-template-areas: 
    'header nav'
    'main main'
    'footer aside'
}

@media (max-width: 900px) {
  body {
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      'header'
      'nav'
      'main'
      'aside'
      'footer'
  }
}

body > header { grid-area: header; }
body > nav { grid-area: nav; }
body > aside { grid-area: aside; }
body > footer { grid-area: footer; }
body > main { grid-area: main; }

body > header {
  font-family: helvetica, arial, clean, sans-serif;
  padding-left: 20px;
}

  body > header > *:not(h1) {
    display: none;
  }

  body > header h1 {
    color: #c75b12;
    font-weight: bold;
    margin-bottom: 2em;
  }

body > nav {
  font-family: helvetica, arial, clean, sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

  body > nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body > nav li {
    display: inline;
    margin-left: 1em;
  }

  body > nav a:hover {
    color: black;
  }

  body > nav a {
    color: #aaa;
    text-decoration: none;
  }

a {
  color: #c75b12;
  text-decoration: none;
}

body > footer,
body > aside {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  padding: 1em 20px;
}
  body > footer p,
  body > aside p {
    margin: 0;
  }

body > footer {}
body > aside {}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

main {
  margin: 0 20px;
}

main > header {
  display: none;
}

main > article {
  
}
  main > article > header {
    
  }
    main > article img {
      max-width: 100%;
    }
    main > article > header h1 {
      margin-bottom: 0:
    }

    main > article > header a {
      color: inherit;
      font-weight: inherit;
    }
    main > article > header > *:not(h1) {
      color: #aaa;
    }

    main > article > header ul {
      list-style: none;
      margin: 0;
      padding-bottom: 5px;
      font-size: 0.8em;
      display: inline;
    }
    main > article > header li {
      display: inline;
      margin: 0 2px;
    }
    main > article > header li a {
      min-height: 1em;
      padding: 3px 5px;
      background-color: #aaa;
      color: white;
      border-radius: 2px;
    }

  /* standard */

  main > article pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  main > article ul,
  main > article ol {
    margin-left: 1.35em;
  }

  main > article code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    main > article pre code {
      border: none;
    }

  /* terminal */

  main > article pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  main > article pre.terminal code {
    background-color: #333;
  }


