---
---

<!doctype html>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>classless themes</title>
<link href="https://cdn.rawgit.com/websitesfortrello/classless/777cd292a29fbef670ab0db3b0edcb443d4cd3de/themes/barbieri/theme.css" rel="stylesheet">
<body>
  <header>
    <h1>classless</h1>
    <p>CSS Zen Garden for standard blog-like HTML</p>
  </header>
  <nav>
    <ul>
      <li><a href="">Introduction</a></li>
      <li><a href=for-personal-websites.html>For personal websites</a></li>
      <li><a href=for-cms-makers.html>For CMS makers</a></li>
      <li><a href=for-theme-writers.html>For theme writers</a></li>
      <li><a href="https://github.com/websitesfortrello/classless/tree/gh-pages/themes">The themes</a></li>
    </ul>
  </nav>
  <main>
    <article>
      <header>
        <h1>{{ page.title }}</h1>
      </header>
      <div>{{ content }}</div>
    </article>
  </main>
  <aside>
    <form action="https://formspree.io/fiatjaf@gmail.com" method=POST>
      <input type="text" name="_replyto" placeholder="Your email.">
      <textarea name="message" placeholder="Your message." rows="4"><textarea>
    </form>
  </aside>
  <footer>Using Classless Theme <a href="https://github.com/websitesfortrello/classless/tree/gh-pages/themes/barbieri">Barbieri</a></footer>
